:root {
  --clr-main: #4589FF;
  --clr-text-menu: #42526E;
  --clr-text-good-morning: #2A3647;
  --clr-text-menu-hover: #E3EEFF;
  --clr-button-todo: #d2e3ff;
  --clr-text-medium-blue: #005dff;
  --clr-input-focus: #0D99FF;
  --clr-icon: #A8A8A8;
  --clr-style-lightgrey: #D1D1D1;
  --clr-style-lightblue: #29ABE2;
  --sb-track-color: #ffffff;
  --sb-thumb-color: #a8a8a8;
  --sb-size: 16px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

  /* disable text-selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header {
  box-shadow: 0 2px 5.5px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 100;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 96px);
  max-width: 1440px;
  width: 100%;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.bodyContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: var(--sb-size)
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 18px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 18px;
  border: 4px solid #ffffff;
}


*::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("./assets/img/arrow_up.png");
  scroll-padding-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

*::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("./assets/img/arrow_down.png");
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.end-of-page {
  margin-bottom: 80px;
}

.d-none {
  display: none;
}

.hide-scroll {
  scrollbar-width: none;
}

@media screen and (max-width: 801px) {
  .main-wrapper {
    height: calc(100vh - 145px);
  }
}